

.title {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.5vw;
  margin-top: 2vw;
}

ul, li {
list-style-type: none;
text-align: center;
}

.customers {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
}

img {
  height: 20vw;
}

.name {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  margin-top: 1vw;
  border-bottom-color: green;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.email {
  text-transform: uppercase;
  font-family: sans-serif;
  color: #BDBDBD;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.address {
  text-transform: capitalize;
  font-family: sans-serif;
  color: #646464
}

.citystate {
  text-transform: capitalize;
  font-family: sans-serif;
  color: #646464
}

.phone {
  font-family: sans-serif;
  color: #646464
}
